<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulario</title>
</head>
<body class="d-flex align-items-center" styles="height: 100vh;">
<div class="container" th:fragment="formulario">
    <!-- Centrado vertical y horizontal -->
    <div class="row justify-content-center w-100">
        <div class="col-12">
            <h1 class="text-center py-3">Alta de Empleado</h1>
            <form class="row g-3 needs-validation form" novalidate th:action="@{/empleados/alta}">
                <div class="col-md-4">
                <label for="validationServer01" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="validationServer01" required th:field="*{empleado.nombre}">
                 <div class="invalid-feedback">
                 Indica tu nombre
                  </div>
                </div>
                <div class="col-md-4">
                <label for="validationServer02" class="form-label">Apellidos</label>
                <input type="text" class="form-control" id="validationServer02" required th:field="*{empleado.apellidos}">
                <div class="invalid-feedback">
                 Indica apellidos
            </div>
            </div>
             <div class="col-md-4">
                 <label for="validationServerUserName" class="form-label">DNI</label>
                <div class="input-group has-validation">
                <span class="input-group-text" id="inputGroupPrepend">@</span>
                <input type="text" class="form-control" id="validationServerUserName" aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" required th:field="*{empleado.dni}">
            <div class="invalid-feedback">
                Indique su DNI
            </div>
             </div>
             </div>
            <div class="col-md-4">
                <label for="validationServer03" class="form-label">Fecha de Nacimiento</label>
                <input type="date" class="form-control" id="validationServer03" aria-describedby="validationServer03Feedback" required th:field="*{empleado.fechaNacimiento}">
            <div id ="validationServer03Feedback" class="invalid-feedback">
                Indica su fecha de nacimiento
            </div>
             </div>
            <div class="col-md-4">
                <label for="nHijos" class="form-label">Nº de Hijos</label>
                <input type="text" class="form-control" id="nHijos" aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" required th:field="*{empleado.nHijos}">
             <div id ="validationServer07Feedback" class="invalid-feedback">
                Indica nº de hijos
            </div>
         </div>
        <div class="col-md-4">
            <label for="validationServer06" class="form-label">Puesto</label>
            <select class="form-select" id="validationServer06" aria-describedby="validationServer04Feedback" required th:field="*{empleado.puesto}">
                <option selected disabled value="" th:each="p: ${puestos}" th:value="${p}" th:text="${p}">Puestos...</option>
            </select>
        <div  id ="validationServer06Feedback" class="invalid-feedback">
            Indica tu última validación
        </div>
         </div>
        <div class="col-12">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="invalidCheck3" aria-describedby="invalidCheck3Feedback" required>
                <label class="form-check-label" for="invalidCheck3">
                    Acepta las condiciones de Alta
                </label>
            <div id= "invalidCheck3Feedback" class="invalid-feedback">
                Debe aceptar las condiciones de Alta
            </div>
            </div>
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Alta de Empleado</button>
         </div>
         </form>
       </div>
     </div>
    </div>
</body>
</html>