<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
</head>
<body>
<!--<header th:insert="~{fragments/header.html :: head}"></header>-->
<h1>Listado de Usuarios</h1>
<!--Encabezado de una tabla-->
<div class="container">
    <h1 class="text-center">Listado de Usuarios</h1>
    <!--Creamos un boton para volver al formulario de alta-->
    <a th:href="@{/alta}" class="btn btn-primary">+ Nuevo</a>
    <div class="row">
        <div class="col-12">
            <table class="table table-striped">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Username</th>
                    <th>Fecha de Alta</th>
                    <th>Acciones</th>

                </tr>

                <tr th:each="usuario : ${arrayDeUsuario}">
                    <td th:text="${usuario.getIdUsuario()}"></td>
                    <td th:text="${usuario.getNombreApellido()}"></td>
                    <td th:text="${usuario.getEmail()}"></td>
                    <td th:text="${usuario.getUserName()}"></td>
                    <td th:text="${usuario.getFechaRegistro()}"></td>
                    <td>
                        <a th:href="@{'/editar/' + ${usuario.getIdUsuario()}}" class="btn btn-warning">Editar</a>
                        <a th:href="@{'eliminar' + ${usuario.getIdUsuario()}}" class="btn btn-danger">Eliminar</a>

                    </td>

                </tr>
            </table>

        </div>

    </div>

</div>

</body>
</html>