<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro de Usuario</title>
</head>
<body>
    <h2>Registro de Usuario</h2>
    <form action="/api/huespedes/" method="post">
        <label for="nombre">Nombre:</label><br />
        <input type="text" id="nombre" name="nombre" required /><br /><br />

        <label for="email">Correo electrónico:</label><br />
        <input type="email" id="email" name="email" required /><br /><br />

        <label for="password">Contraseña</label><br />
        <input type="password" id="password" name="password" required><br /><br />

        <button type="submit">Registrarse</button>
    </form>
    <p>¿Ya tienes cuenta? <a href="login.html">Iniciar sesión</a></p>
</body>
</html>